---
layout: layout
---
<% if (config.algolia) { %>
  <!-- instantsearch.js -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.css">
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.js"></script>
<% } %>

<style>
    .intro-header .site-heading {
        margin: 50px;
    }
    header.intro-header {
        background-image: url('<%= config["header-img"]%>')
    }

    .intro-header .site-heading,
    .intro-header .page-heading,
    .intro-header .post-heading{
        color: #fff;
        text-shadow: 0 0 40px black;
    }

    .intro-header .site-heading h1,
    .intro-header .page-heading h1,
    .intro-header .post-heading h1 {
        text-shadow: 0 0 40px black;
    }
</style>


<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading text-center">
                    <h1 class="title"><%= page.headerTitle || 'Tags' %></h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <input type="text" id="search-box" />
      <div id="hits-container"></div>
      <div id="pagination-container"></div>
    </div>
  </div>
</div>

<script type="text/html" id="hit-template">
  <a class="hit-content"  href="{{permalink}}">
    <p class="hit-name">{{{title}}}</p>
    <p class="hit-date">{{{formattedDate}}}</p>
  </a>
</script>

<script>
  var search = instantsearch({
    appId: 'ABS4QV1E9V',
    apiKey: 'd9adae0b31ed52fc0f6c4c75aad428bf',
    indexName: 'blog',
    urlSync: true
  });


  search.addWidget(
    instantsearch.widgets.searchBox({
      container: '#search-box',
      placeholder: '搜尋博客內容'
    })
  );

  search.addWidget(
    instantsearch.widgets.hits({
      container: '#hits-container',
      templates: {
        item: document.getElementById('hit-template').innerHTML,
        empty: "找不到 <em>{{query}}</em> 。。。"
      }
    })
  );

  search.addWidget(
    instantsearch.widgets.pagination({
      container: '#pagination-container'
    })
  );

  search.addWidget(
  instantsearch.widgets.analytics({
    pushFunction: function(formattedParameters, state, results) {
      // Google Analytics
      window.ga('set', 'page', '/search/query/?query=' + state.query + '&' + formattedParameters + '&numberOfHits=' + results.nbHits);
      window.ga('send', 'pageView');
    }
  })
);


  search.start();
</script>
