// Layout
@import './_partial/sidebar.scss';
@import './_partial/navbar.scss';
@import './_partial/header.scss';
@import './_partial/footer.scss'; // Import Partials
@import "./_partial/tags.scss";
@import './_partial/pager.scss';
@import './_partial/toc.scss'; // Common
@import './_partial/common.scss';
@import './_partial/reset.scss'; // Search
@import './_partial/search.scss';

.btn {
  /* Hux learn from TypeIsBeautiful */
  font-family: -apple-system, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;

  &-lg {
    font-size: 16px;
    padding: 25px 35px;
  }

  &-default {
    &:focus,
    &:hover {
      background-color: #0085a1;
      border: 1px solid #0085a1;
      color: white;
    }
  }
}

.t:first-child {
  margin-top: 0;
}
/* Hux make all img responsible in post-container */
.post-container img {
  display: block;
  max-width: 450px;
  width: 100%;
  height: auto;
  margin: 1.5em auto 1.6em;
}

.comment {
  margin-top: 20px;

  #ds-thread #ds-reset {
    a.ds-like-thread-button,
    li.ds-tab a.ds-current {
      border: 1px solid #ddd;
      background: white;
      box-shadow: none;
      text-shadow: none;
    }

    .ds-gradient-bg,
    .ds-textarea-wrapper {
      background: none;
    }
  }
}

#ds-smilies-tooltip ul.ds-smilies-tabs li a {
  background: white !important;
}

.page-fullscreen {
  #tag-heading {
    position: fixed;
    left: 0;
    top: 0;
    padding-bottom: 150px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 20px;
    opacity: 0.6;
    color: #fff;

    .copyright {
      color: #fff;

      a {
        color: #fff;

        &:hover {
          color: #ddd;
        }
      }
    }
  }
}
/*
  @Haojen
*/
.sidebar-container .short-about {
  text-align: center;
}

.post-preview {
  a {
    color: $black;

    &:hover {
      color: $anotherBlue;
    }

    .post-title {
      margin-bottom: 0;
      font-weight: 200;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
      @media screen and (max-width: 500px) {
        font-weight: normal;
      }
    }
  }
}

.site-heading {
  .about-me {
    h4 {
      color: $white;
    }

    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      opacity: 0.9;
    }
  }

  h5 a {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  p {
    margin: 0;
    color: #eee;
    font-size: 15px;
  }
}

.custom-haojen-container {
  padding-top: 0;
  @media (min-width: 992px) {
    padding-top: 90px;
  }
}

.wechat-title-img {
  position: absolute;
  height: 0;
  width: 0;
}
/* about-me */
.about-me {
  margin-top: 35px;
}
