// Layout
@import './_partial/sidebar.scss';
@import './_partial/navbar.scss';
@import './_partial/header.scss';
@import './_partial/footer.scss'; // Import Partials
@import "./_partial/tags.scss";
@import './_partial/pager.scss';
@import './_partial/toc.scss'; // Common
@import './_partial/common.scss';
@import './_partial/reset.scss'; // Search
@import './_partial/search.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700); // Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans', sans-serif; // clear-fix mixin
@mixin cf {
  &::after,
  &::before {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

body {
  font-family: $open-sans;
}
// Base styles

.card {
  float: left;
  padding: 1.7rem;
  width: 100%;

  .card-header {
    height: 15em;
  }

  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;
    }

    a {
      color: $white;
    }

    .fa-plane {
      transition: all 0.2s ease-in;

      &:hover {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }

  .wrapper {
    background-color: $white;
    min-height: 32rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    display: block;
    text-decoration: none;

    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }

  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;

    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }

  .author {
    font-size: 12px;
  }

  .title {
    margin-top: 10px;
  }

  .text {
    height: 130px;
    margin: 0;
  }

  input[type='checkbox'] {
    display: none;
  }

  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}

.card {
  .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bermuda;
    color: $white;
    padding: 0.8em;

    span {
      display: block;
      text-align: center;
    }

    .day {
      font-weight: 700;
      font-size: 24px;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }

    .month {
      text-transform: uppercase;
    }

    .month,
    .year {
      font-size: 12px;
    }
  }

  .content {
    background-color: $white;
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);

    .stats {
      height: 2em;
    }
  }

  .title {
    a {
      color: lighten($black, 50%);
    }
  }

  .menu-button {
    position: absolute;
    z-index: 999;
    top: 16px;
    right: 16px;
    width: 25px;
    text-align: center;
    cursor: pointer;

    span {
      width: 5px;
      height: 5px;
      background-color: lighten($black, 50%);
      color: lighten($black, 50%);
      position: relative;
      display: inline-block;
      border-radius: 50%;

      &::after,
      &::before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background-color: currentColor;
        position: absolute;
        border-radius: 50%;
      }

      &::before {
        left: -10px;
      }

      &::after {
        right: -10px;
      }
    }
  }

  .menu-content {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: transform 0.3s;
    transform: translateY(0);

    li {
      width: 33.333333%;
      float: left;
      background-color: $bermuda;
      height: 60px;
      position: relative;
    }

    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
    }

    span {
      top: -10px;
    }
  }
}

.post-preview {
  text-align: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  padding: 0;
  height: 300px;
  display: table;
  width: 100%;
  background-size: cover;
  background-position-x: 0;
  background-position-y: 50%;
  background-color: rgba(0, 0, 0, 0.16);
}

.btn {
  /* Hux learn from TypeIsBeautiful */
  font-family: -apple-system, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;

  &-lg {
    font-size: 16px;
    padding: 25px 35px;
  }

  &-default {
    &:focus,
    &:hover {
      background-color: #0085a1;
      border: 1px solid #0085a1;
      color: white;
    }
  }
}

.t:first-child {
  margin-top: 0;
}
/* Hux make all img responsible in post-container */
.post-container img {
  display: block;
  max-width: 450px;
  width: 100%;
  height: auto;
  margin: 1.5em auto 1.6em;
}

.comment {
  margin-top: 20px;

  #ds-thread #ds-reset {
    a.ds-like-thread-button,
    li.ds-tab a.ds-current {
      border: 1px solid #ddd;
      background: white;
      box-shadow: none;
      text-shadow: none;
    }

    .ds-gradient-bg,
    .ds-textarea-wrapper {
      background: none;
    }
  }
}

#ds-smilies-tooltip ul.ds-smilies-tabs li a {
  background: white !important;
}

.page-fullscreen {
  #tag-heading {
    position: fixed;
    left: 0;
    top: 0;
    padding-bottom: 150px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 20px;
    opacity: 0.6;
    color: #fff;

    .copyright {
      color: #fff;

      a {
        color: #fff;

        &:hover {
          color: #ddd;
        }
      }
    }
  }
}
/*
  @Haojen
*/
.sidebar-container .short-about {
  text-align: center;
}

.post-preview {
  a {
    color: $black;

    &:hover {
      color: $anotherBlue;
    }

    .post-title {
      margin-bottom: 0;
      font-weight: 200;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
      @media screen and (max-width: 500px) {
        font-weight: normal;
      }
    }
  }
}

.site-heading {
  .about-me {
    h4 {
      color: $white;
    }

    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      opacity: 0.9;
    }
  }

  h5 a {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  p {
    margin: 0;
    color: #eee;
    font-size: 15px;
  }
}

.custom-haojen-container {
  padding-top: 0;
  @media (min-width: 992px) {
    padding-top: 90px;
  }
}

.wechat-title-img {
  position: absolute;
  height: 0;
  width: 0;
}
/* about-me */
.about-me {
  margin-top: 35px;
}
