*[id]:before {
  content: "";
  display: block;
  /* fixed header height*/
  height: 60px;
  /* negative fixed header height */
  margin: -60px 0 0;
}

/** Anchor.js **/

/* place left on bigger screen */
@media (min-width: 800px) {
  .anchorjs-link:hover {
    color: $blue;
  }
  *:hover > .anchorjs-link {
    transition: color .25s linear;
  }
}

.list-inline {
  margin: 0;
}

// Bootstrap hr 20px -> 10px
hr {
  margin: 10px;
}

body {
  line-height: 1.7;
  font-size: 16px;
  color: #404040;
  overflow-x: hidden;
  font-family: -apple-system,  "PingFang SC","Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

p {
  margin: 0 0 20px;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: 26 - $i * 2px;
    font-weight: 400;
  }
}

article .post-container h2 {
  font-weight: 600;
}

a {
  color: #404040;
  &:hover, &:focus {
    color: #0085a1;
    text-decoration: none;
  }
  img {
    &:hover, &:focus {
      cursor: zoom-in;
    }
  }
}

blockquote {
  color: #808080;
  font-size: 0.95em;
  margin: 20px 0 20px;
  border-color: #ff7e79;
  p {
    margin: 0;
  }
}

small.img-hint {
  display: block;
  margin-top: -20px;
  text-align: center;
}

br + small.img-hint {
  margin-top: -40px;
}

img.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 5px 0;
}

@media screen and (max-width: 768px) {
  select {
    -webkit-appearance: none;
    margin-top: 15px;
    color: #337ab7;
    border-color: #337ab7;
    padding: 0 0.4em;
    background: white;
  }
}

.table {
  th, td {
    border: 1px solid #eee !important;
  }
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border: 4px white;
}

pre, .table-responsive {
  -webkit-overflow-scrolling: touch;
}

pre code {
  display: block;
  width: auto;
  white-space: pre;
  word-wrap: normal;
}

article {
  .post-container {
    h1, h2, h3, h4, h5, h6 {
      margin-top: -90px;
      padding: 100px 0 0;
    }
  }
  blockquote footer {
    padding: 5px 20px 0;
  }
}

a:focus {
  outline: none;
}

.post-content-preview p {
  color: #555;
}

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
  input, textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
  }
  label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    opacity: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
  }
  &:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee;
  }

  &-value label {
    @debug 'label';
    top: 0;
    opacity: 1;
  }

  &-focus label {
    color: #0085a1;
  }
}


form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
